@model List<User>
@{
    ViewBag.Title = "Manage Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-20 pb-10">
    <div class="row">

        <!-- Title Row: Begins -->
        <div class="col-sm-12 col-md-3 col-lg-3">
            <h4>Manage Users</h4>

        </div>
        <!-- Title Row: Ends -->

    </div>
</div>

