@{
    ViewBag.LayoutLoggedIn = ViewBag.LoggedIn;
    ViewBag.LayoutLoggedInUserFirstName = ViewBag.LoggedInUserFirstName;
    ViewBag.LayoutTitle = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <!-- Success Row: Begin -->
    <div class="row mt-20">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center">Home</h1>
         </div>
    </div>
    <!-- Success: Ends -->

</div>
